body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.pm-dialog {
    position: fixed;
    top: -100px; /* Start off-screen */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px 20px;
    border-radius: 0; /* No rounded borders */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    opacity: 0; /* Start invisible */
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth animation */
    width: 300px; /* Smaller width */
}

.confirm {
    background-color: #4CAF50; /* Green color */
}

.error {
    background-color: red;

}

.bold {
    font-size: 17.5px;
    font-weight: bold;
    letter-spacing:1px;
}

.pm-dialog p {
    margin: 0 0 10px 0;
    font-size: 14px;
}

.pm-dialog button {
    background-color: white;
    color: #4CAF50;
    border: none;
    padding: 8px 16px;
    border-radius: 0; /* No rounded borders */
    cursor: pointer;
    font-size: 14px;
}

    .pm-dialog button:hover {
        background-color: #f0f0f0;
    }

.fade-out {
    transition: opacity 1s ease-out; /* Smooth fade-out effect */
    opacity: 0; /* Fully transparent */
}
