@*@model PetMate.Model.Pet;

@{
    Layout = "_LoggedUserLayout";
}

<form asp-controller="Login" asp-action="Register" method="post">
    <div class="container-fluid pt-5">
        <div class="container registr-container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Contact Us</h6>
                <h1 class="display-5 text-uppercase mb-0">Registration</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-7">

                    <div class="row g-3">
                        <div class="col-12">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="Username" asp-for="Username" style="height: 55px;">
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control bg-light border-0 px-4" placeholder="Email" asp-for="Email" style="height: 55px;">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control bg-light border-0 px-4" placeholder="Password" asp-for="Password" style="height: 55px;">
                        </div>

                    </div>

                </div>
            </div>
        </div>

</form>
*@