@model  PetMate.ViewModels.PetVM;
@using PetMate.ViewModels;

@{
    Layout = "_LoggedShelterLayout";
}
<form asp-controller="Shelter" asp-action="PetRegistration" method="post" enctype="multipart/form-data">
    <div class="container-fluid pt-5">
        <div class="container registr-container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Регистрация</h6>
                <h1 class="display-5 text-uppercase mb-0">Регистрирай нов любимец</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-7">

                    <div class="row g-3">
                        <div class="col-12">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="Име" asp-for="Name" style="height: 55px;">
                        </div>
                        <div class="col-12">
                            <input type="number" class="form-control bg-light border-0 px-4" placeholder="Години" asp-for="Age" style="height: 55px;">
                        </div>
                        <select asp-for="Gender" class="form-control bg-light border-1 px-4" asp-items="SelectOptionsPet.genders" style="height: 55px;">
                        </select>
                        <div class="col-12">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="Порода" asp-for="Breed" style="height: 55px;">
                        </div>
                        <div class="col-12">
                            <select asp-for="Size" class="form-control bg-light border-1 px-4" asp-items="SelectOptionsPet.pet_sizes"  style="height: 55px;">
                            </select>
                        </div>
                        <div class="col-12">
                            <input type="file" class="form-control bg-light border-0 px-4" placeholder="Photos" asp-for="Image" multiple="TRUE" style="height: 55px;">
                        </div>
                        <div class="col-12 castration">
                            <div class="form-control pa-4">
                                <input type="checkbox" value="@true" id="check" name="check" />
                                <label for="check">Кастрирано</label>
                                <input id="castr" hidden asp-for="Castrated" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container registr-container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Попълни твоите навици</h6>
                <h1 class="display-5 text-uppercase mb-0">Форма за навици</h1>
            </div>
            
            <div id="hobby-form">
                <div class="question">
                    <span>1. Какво е нивото на активност на домашния любимец?</span>
                    <div class="section-container">
                        <input type="radio" class="option" name="radio1" onclick="selectOnlyOne(this)"><span>Неактивен</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" class="option" name="radio1" onclick="selectOnlyOne(this)"><span>Умерено активен</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" class="option" name="radio1" onclick="selectOnlyOne(this)"><span>Много активен</span>
                    </div>
                </div>

                <div class="question">
                    <span>2. Колко социален е домашният любимец с хора?</span>
                    <div class="section-container">
                        <input type="radio" name="radio2" class="option"><span>Срамежлив</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio2" class="option"><span>Приветлив</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio2" class="option"><span>Много социален</span>
                    </div>
                </div>

                <div class="question">
                    <span>3. Как взаимодейства домашният любимец с други животни?</span>
                    <div class="section-container">
                        <input type="radio" name="radio3" class="option"><span>Избягва ги</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio3" class="option"><span>Неутрален</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio3" class="option"><span>Игрив</span>
                    </div>
                </div>

                <div class="question">
                    <span>4. Какво ниво на поддръжка изисква домашният любимец?</span>
                    <div class="section-container">
                        <input type="radio" name="radio4" class="option"><span>Ниско</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio4" class="option"><span>Средно</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio4" class="option"><span>Високо</span>
                    </div>
                </div>

                <div class="question">
                    <span>5. Колко вокален е домашният любимец?</span>
                    <div class="section-container">
                        <input type="radio" name="radio5" class="option"><span>Тих</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio5" class="option"><span>Средно</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio5" class="option"><span>Много разговорлив</span>
                    </div>
                </div>

                <div class="question">
                    <span>6. Обучен ли е домашният любимец?</span>
                    <div class="section-container">
                        <input type="radio" name="radio6" class="option"><span>Да, напълно обучен</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio6" class="option"><span>Да, частично обучен</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio6" class="option"><span>Не</span>
                    </div>
                </div>

                <div class="question">
                    <span>7. Има ли домашният любимец специални нужди или медицински изисквания?</span>
                    <div class="section-container">
                        <input type="radio" name="radio8" class="option"><span>Да</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio8" class="option"><span>Не</span>
                    </div>
                </div>

                <div class="question">
                    <span>8. Каква е най-подходящата среда за живот за този домашен любимец?</span>
                    <div class="section-container">
                        <input type="radio" name="radio9" class="option"><span>Апартамент</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio9" class="option"><span>Къща с двор</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio9" class="option"><span>Селски имот</span>
                    </div>
                </div>

                <div class="question">
                    <span>9. Колко независим е домашният любимец?</span>
                    <div class="section-container">
                        <input type="radio" name="radio10" class="option"><span>Много независим</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio10" class="option"><span>Умерено зависим</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio10" class="option"><span>Много зависим</span>
                    </div>
                </div>

                <div class="question">
                    <span>10. Колко добре толерира домашният любимец деца?</span>
                    <div class="section-container">
                        <input type="radio" name="radio11" class="option"><span>Не е подходящ</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio11" class="option"><span>Неутрален</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio11" class="option"><span>Много толерантен</span>
                    </div>
                </div>

                <div class="question">
                    <span>11. Какъв климат предпочита домашният любимец?</span>
                    <div class="section-container">
                        <input type="radio" name="radio12" class="option"><span>Хладен</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio12" class="option"><span>Среден</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio12" class="option"><span>Топъл</span>
                    </div>
                </div>

                <div class="question">
                    <span>12. Какво ниво на взаимодействие предпочита домашният любимец?</span>
                    <div class="section-container">
                        <input type="radio" name="radio13" class="option"><span>Минимално</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio13" class="option"><span>Средно</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio13" class="option"><span>Високо</span>
                    </div>
                </div>

                <div class="question">
                    <span>13. Какъв е темпераментът на домашния любимец?</span>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Спокоен</span>
                    </div>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Игрив</span>
                    </div>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Защитен</span>
                    </div>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Привързан</span>
                    </div>
                    <input type="text" id="answers" hidden asp-for="Answers" />
                </div>

                <div class="col-11">
                    <button onclick="SeeChecked()" class="btn btn-primary w-100 py-3">Готово ✔</button>
                </div>
            </div>

        </div>

</form>

<style>
    .section-container input[type="radio"] {
        transform: scale(1.4);
        margin-right: 12px;
        margin-left: 4px;
    }
        /* .section-container input[type="checkbox"]:checked + .option span {
                    background-color: #4caf50;
                  } */
        .section-container input[type="radio"]:checked + span {
            color: #1d5a00;
        }
</style>

<script>
    function SeeChecked() {
        let sell = [];
        const questions = document.querySelectorAll(".question span:first-child");
        const checkboxesValue = document.querySelectorAll("input[type='radio']:checked + span,input[type='checkbox']:checked + span");
        let p = document.getElementById('answers');
        let counter = 1;
        // Loop through each selected span and get its text content
        checkboxesValue.forEach(span => {
            sell.push(`${counter}. ` + span.textContent.trim()); // Add text content to the array
            counter++;
        });

        p.value = sell.join(", ");
    }

    let field=document.getElementById("castr");
    let check=document.getElementById("check");
    field.value=false;
    check.addEventListener('change', () => {
        field.value = check.checked;
        
    });


</script>