@model PetMate.ViewModels.UserViewModel

@{
    Layout = "_Layout";
    string error_msg = ViewBag.Error_msg;
}
<link rel="stylesheet" href="/assets/css/dialogs.css"/>
<form asp-controller="Login" asp-action="Login" method="post">
    
    @if (!string.IsNullOrEmpty(error_msg))
    {
        <div class="pm-dialog error" id="pm-dialog">
            <p class="bold">@error_msg</p>
        </div>
    }
     <div class="container-fluid pt-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Contact Us</h6>
                <h1 class="display-5 text-uppercase mb-0">Please Feel Free To Contact Us</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-7">
                    <form>
                        <div class="row g-3">
                          
                            <div class="col-12">
                                <input type="text" class="form-control bg-light border-0 px-4" placeholder="Name" asp-for="Username" style="height: 55px;">
                            </div>

                            <div class="col-12">
                                <input type="email" class="form-control bg-light border-0 px-4" placeholder="Email" asp-for="Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="password" class="form-control bg-light border-0 px-4" placeholder="Password" asp-for="Password" style="height: 55px;">
                            </div>
                            @*<div>
                                <a class="btn-info form-control border-0 px-4" style="height: 55px;" href="@Url.Action("Registration","Login")">Register</a>
                            </div>*@
                            <div class="col-12">
                                <p class="form-control border-0 background-0">Don't have an account? Register <a href="@Url.Action("Registration","Login")">here</a></p>
                            </div>
                            <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</form>
<script>


    var dialog = document.getElementById("pm-dialog");


    function showDialog() {
        if (dialog) {
            dialog.style.top = '20px';
            dialog.style.opacity = '1';
        }
    }

    // Function to close the dialog
    function closeDialog() {
        dialog.style.top = '-100px'; // Move dialog out of view
        dialog.style.opacity = '0'; // Fade out
    }


    document.addEventListener("DOMContentLoaded", function () {
        showDialog();

        // Auto-close after 4 seconds
        setTimeout(function () {
            closeDialog();
        }, 2000);
    });
</script>

