@model PetMate.ViewModels.ShelterViewModel
@{
    Layout = "_Layout";
}
<form asp-controller="Login" asp-action="RegistrationShelter" method="post">
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Contact Us</h6>
                <h1 class="display-5 text-uppercase mb-0">Please Feel Free To Contact Us</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-7">
                    <form>
                        <div class="col-12 inputs">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="The name of your shelter" asp-for="ShelterName" style="height: 55px;">
                        </div>
                        <div class="col-12 inputs">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your password" asp-for="ShelterPassword" style="height: 55px;">
                        </div>
                        <div class="col-12 inputs">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Address" asp-for="Address" style="height: 55px;">
                        </div>
                        <div class="col-12 inputs">
                            <input type="number" class="form-control bg-light border-0 px-4" placeholder="The number of your pets" asp-for="PetCount" style="height: 55px;">
                        </div>
                        <div class="col-12 inputs">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your opening & closing time" asp-for="WorkingTime" style="height: 55px;">
                        </div>
                        <div class="col-12 inputs">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your opening & closing time for visitors" asp-for="VisitorsTime" style="height: 55px;">
                        </div>
                        <div class="col-12 inputs">
                            <input type="text" class="form-control bg-light border-0 px-4" placeholder="The type of your shelter" asp-for="Type" style="height: 55px;">
                        </div>
                       
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</form>

<style>
    .inputs{
        margin-bottom:15px;
    }
</style>