@model PetMate.ViewModels.UserViewModel
@{
    Layout = "_Layout";
}
<form asp-controller="Login" asp-action="Register" method="post" >
    <div class="container-fluid pt-5">
        <div class="container registr-container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Contact Us</h6>
                <h1 class="display-5 text-uppercase mb-0">Registration</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-7">
 
                        <div class="row g-3">
                            <div class="col-12">
                                <input type="text" class="form-control bg-light border-0 px-4" placeholder="Username" asp-for="Username" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-light border-0 px-4" placeholder="Email" asp-for="Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-light border-0 px-4" placeholder="Password" asp-for="Password" style="height: 55px;">
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="container registr-container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Fill up you'r habits</h6>
                <h1 class="display-5 text-uppercase mb-0">Habit Form</h1>
            </div>
            <div id="hobby-form">
                <div class="question">
                    <span>1. How active are you on a daily basis?</span>
                    <div class="section-container">
                        <input type="radio" class="option" name="radio1" onclick="selectOnlyOne(this)"><span>Inactive</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" class="option" name="radio1" onclick="selectOnlyOne(this)"><span>Somewhat Active</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" class="option" name="radio1" onclick="selectOnlyOne(this)"><span>Highly Active</span>
                    </div>
                </div>
                <div class="question">
                    <span>2. Do you have experience with pet ownership?</span>
                    <div class="section-container">
                        <input type="radio" name="radio2" class="option"><span>Yes</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio2" class="option"><span>No</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio2" class="option"><span>Some</span>
                    </div>
                </div>
                <div class="question">
                    <span>3. What is your living situation?</span>
                    <div class="section-container">
                        <input type="radio" name="radio3" class="option"><span>Apartment</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio3" class="option"><span>House with Yard</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio3" class="option"><span>Rural property</span>
                    </div>
                </div>
                <div class="question">
                    <span>4. How often are you at home during the day?</span>
                    <div class="section-container">
                        <input type="radio" name="radio4" class="option"><span>Rarely</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio4" class="option"><span>Part-time</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio4" class="option"><span>Mostly at home</span>
                    </div>
                </div>
                <div class="question">
                    <span>5. Do you have other pets?</span>
                    <div class="section-container">
                        <input type="radio" name="radio5" class="option"><span>Yes</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio5" class="option"><span>No</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio5" class="option"><span>Planning to get one</span>
                    </div>
                </div>
                <div class="question">
                    <span>6. Are there children in your household?</span>
                    <div class="section-container">
                        <input type="radio" name="radio6" class="option"><span>Yes, full-time</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio6" class="option"><span>Yes, part-time</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio6" class="option"><span>No</span>
                    </div>
                </div>
                <div class="question">
                    <span>
                        7. How much time can you commit to pet care daily?
                    </span>
                    <div class="section-container">
                        <input type="radio" name="radio7" class="option"><span>Less than 1 hour</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio7" class="option"><span>1–3 hours</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio7" class="option"><span>More than 3 hours</span>
                    </div>
                </div>
                <div class="question">
                    <span>8. What’s your preferred level of pet maintenance?</span>
                    <div class="section-container">
                        <input type="radio" name="radio8" class="option"><span>Low</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio8" class="option"><span>Average</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio8" class="option"><span>High</span>
                    </div>
                </div>
                <div class="question">
                    <span>9. Do you prefer a pet that is independent or interactive?</span>
                    <div class="section-container">
                        <input type="radio" name="radio9" class="option"><span>Very independent</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio9" class="option"><span>Somewhat independent</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio9" class="option"><span>Very Interactive</span>
                    </div>
                </div>
                <div class="question">
                    <span>10. Are you comfortable with pets that require regular grooming?</span>
                    <div class="section-container">
                        <input type="radio" name="radio10" class="option"><span>Yes</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio10" class="option"><span>No</span>
                    </div>
                </div>
                <div class="question">
                    <span>11. What’s your tolerance for noise or vocalizations (barking, meowing)?</span>
                    <div class="section-container">
                        <input type="radio" name="radio11" class="option"><span>Low tolerance</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio11" class="option"><span>Average tolerance</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio11" class="option"><span>High tolerance</span>
                    </div>
                </div>
                <div class="question">
                    <span>12. How would you rate your tolerance for pet-related cleaning?</span>
                    <div class="section-container">
                        <input type="radio" name="radio12" class="option"><span>High</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio12" class="option"><span>Average</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio12" class="option"><span>Low</span>
                    </div>
                </div>
                <div class="question">
                    <span>13.Are you comfortable with pets that may have special needs?</span>
                    <div class="section-container">
                        <input type="radio" name="radio13" class="option"><span>Yes</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio13" class="option"><span>No</span>
                    </div>
                </div>
                <div class="question">
                    <span>14. Do you travel frequently, and would your pet travel with you?</span>
                    <div class="section-container">
                        <input type="radio" name="radio14" class="option"><span>Yes, and they would travel with me</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio14" class="option"><span>Yes, but they would stay at home</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio14" class="option"><span>No</span>
                    </div>
                </div>
                <div class="question">
                    <span>15. What qualities are most important in your ideal pet (You can select more than one)?</span>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Calm</span>
                    </div>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Playful</span>
                    </div>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Protective</span>
                    </div>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Affectionate</span>
                    </div>

                </div>
                <div class="col-11">
                    <button onclick="Call()" class="btn btn-primary w-100 py-3">Done  ✔ </button>
                </div>
                <input type="text" id="answers" hidden asp-for="Answers" />
                <input type="text" asp-for="Valid" id="vField" hidden/>
            </div>
        </div>

</form>

<style>
    .section-container input[type="radio"] {
        transform: scale(1.45);
        margin-right: 12px;
        margin-left: 4px;
    }
        /* .section-container input[type="checkbox"]:checked + .option span {
                background-color: #4caf50;
              } */
        .section-container input[type="radio"]:checked + span {
            color: #1d5a00;
        }
</style>

<script src="/js/site.js"></script>
