@model PetMate.ViewModels.UserViewModel
@{
    Layout = "_Layout";
    string? err_msg = ViewBag.err_msg_reg;

}

<form asp-controller="Login" asp-action="Register" method="post" >
    <link rel="stylesheet" href="/assets/css/dialogs.css" />

    @if (!string.IsNullOrEmpty(err_msg))
    {
        <div class="pm-dialog confirm" id="pm-dialog">
            <p class="bold">@err_msg</p>
            <button onclick="closeDialog()">OK</button>
        </div>
    }

    <div class="container-fluid pt-5">
        <div class="container registr-container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Регистрация</h6>
                <h1 class="display-5 text-uppercase mb-0">Създай си профил</h1>

                   
                
            </div>
            <div class="row g-5">
                <div class="col-lg-7">
 
                        <div class="row g-3">
                            <div class="col-12">
                                <input type="text" class="form-control bg-light border-0 px-4" placeholder="Потребителско име" asp-for="Username" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-light border-0 px-4" placeholder="Email" asp-for="Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="password" class="form-control bg-light border-0 px-4" placeholder="Парола" asp-for="Password" style="height: 55px;">
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="container registr-container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Форма за навици</h6>
                <h1 class="display-5 text-uppercase mb-0">Попълни своите навици</h1>
            </div>
            <div id="hobby-form">
                <div class="question">
                    <span>1. Колко активни сте в ежедневието си?</span>
                    <div class="section-container">
                        <input type="radio" class="option" name="radio1" onclick="selectOnlyOne(this)"><span>Неактивен</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" class="option" name="radio1" onclick="selectOnlyOne(this)"><span>Средно активен</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" class="option" name="radio1" onclick="selectOnlyOne(this)"><span>Много активен</span>
                    </div>
                </div>
                <div class="question">
                    <span>2. Имате ли опит с отглеждане на домашни любимци?</span>
                    <div class="section-container">
                        <input type="radio" name="radio2" class="option"><span>Да</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio2" class="option"><span>Не</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio2" class="option"><span>Малко</span>
                    </div>
                </div>
                <div class="question">
                    <span>3. Каква е вашата жилищна ситуация?</span>
                    <div class="section-container">
                        <input type="radio" name="radio3" class="option"><span>Апартамент</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio3" class="option"><span>Къща с двор</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio3" class="option"><span>Селски имот</span>
                    </div>
                </div>
                <div class="question">
                    <span>4. Колко често сте вкъщи през деня?</span>
                    <div class="section-container">
                        <input type="radio" name="radio4" class="option"><span>Рядко</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio4" class="option"><span>Частично</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio4" class="option"><span>Предимно вкъщи</span>
                    </div>
                </div>
                <div class="question">
                    <span>5. Имате ли други домашни любимци?</span>
                    <div class="section-container">
                        <input type="radio" name="radio5" class="option"><span>Да</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio5" class="option"><span>Не</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio5" class="option"><span>Планирам да си взема</span>
                    </div>
                </div>
                <div class="question">
                    <span>6. Има ли деца във вашето домакинство?</span>
                    <div class="section-container">
                        <input type="radio" name="radio6" class="option"><span>Да, постоянно</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio6" class="option"><span>Да, частично</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio6" class="option"><span>Не</span>
                    </div>
                </div>
                <div class="question">
                    <span>7. Колко време на ден можете да отделяте за грижа за домашен любимец?</span>
                    <div class="section-container">
                        <input type="radio" name="radio7" class="option"><span>По-малко от 1 час</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio7" class="option"><span>1–3 часа</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio7" class="option"><span>Повече от 3 часа</span>
                    </div>
                </div>
                <div class="question">
                    <span>8. Какво ниво на поддръжка на домашния любимец предпочитате?</span>
                    <div class="section-container">
                        <input type="radio" name="radio8" class="option"><span>Ниско</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio8" class="option"><span>Средно</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio8" class="option"><span>Високо</span>
                    </div>
                </div>
                <div class="question">
                    <span>9. Предпочитате ли домашен любимец, който е самостоятелен или социален?</span>
                    <div class="section-container">
                        <input type="radio" name="radio9" class="option"><span>Много самостоятелен</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio9" class="option"><span>Донякъде самостоятелен</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio9" class="option"><span>Много социален</span>
                    </div>
                </div>
                <div class="question">
                    <span>10. Удобно ли ви е да се грижите за домашни любимци, които изискват редовно подстригване?</span>
                    <div class="section-container">
                        <input type="radio" name="radio10" class="option"><span>Да</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio10" class="option"><span>Не</span>
                    </div>
                </div>
                <div class="question">
                    <span>11. Колко висока е вашата толерантност към шум (лаене, мяукане)?</span>
                    <div class="section-container">
                        <input type="radio" name="radio11" class="option"><span>Ниска</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio11" class="option"><span>Средна</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio11" class="option"><span>Висока</span>
                    </div>
                </div>
                <div class="question">
                    <span>12. Колко сте толерантни към почистване, свързано с домашни любимци?</span>
                    <div class="section-container">
                        <input type="radio" name="radio12" class="option"><span>Висока</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio12" class="option"><span>Средна</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio12" class="option"><span>Ниска</span>
                    </div>
                </div>
                <div class="question">
                    <span>13. Чувствате ли се комфортно с домашни любимци, които може да имат специални нужди?</span>
                    <div class="section-container">
                        <input type="radio" name="radio13" class="option"><span>Да</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio13" class="option"><span>Не</span>
                    </div>
                </div>
                <div class="question">
                    <span>14. Пътувате ли често и би ли пътувал вашият домашен любимец с вас?</span>
                    <div class="section-container">
                        <input type="radio" name="radio14" class="option"><span>Да, и той ще пътува с мен</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio14" class="option"><span>Да, но ще остане у дома</span>
                    </div>
                    <div class="section-container">
                        <input type="radio" name="radio14" class="option"><span>Не</span>
                    </div>
                </div>
                <div class="question">
                    <span>15. Кои качества са най-важни за вашия идеален домашен любимец? (Можете да изберете повече от едно)</span>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Спокоен</span>
                    </div>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Игрив</span>
                    </div>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Защитнически</span>
                    </div>
                    <div class="section-container">
                        <input type="checkbox" name="radio15" class="option"><span>Любвеобилен</span>
                    </div>
                </div>

                <div class="col-11">
                    <button onclick="SeeCheckedAnswers()" class="btn btn-primary w-100 py-3">Готово ✔</button>
                </div>
                <input type="text" id="answers" hidden asp-for="Answers" />
                <input type="text" asp-for="Valid" id="vField" hidden />
            </div>

        </div>

</form>

<style>
    .section-container input[type="radio"] {
        transform: scale(1.45);
        margin-right: 12px;
        margin-left: 4px;
    }
        /* .section-container input[type="checkbox"]:checked + .option span {
                background-color: #4caf50;
              } */
        .section-container input[type="radio"]:checked + span {
            color: #1d5a00;
        }
</style>

<script src="/js/site.js"></script>
